<h1>Welcome to My App </h1>



<% if @post %>
<%= link_to 'My Posts', @post,:type => "button", :class => "btn btn-primary btn-sm", :style => ''%>
<div class="" style="padding-top: 50px;">

</div>
  <!--
  <%= form_for(@post) do |f| %>
    <div class="form-group">
      <%= f.label 'Update status' %><br>
        <%= f.text_area :content, class: 'form-control', autofocus: true,
            placeholder: 'What\'s up?' %>
        <%= f.file_field :attachment, class: 'form-control' %>
    </div>
    <%= f.submit :post, class: 'btn btn-primary'%>
  <% end %>
  -->
  
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>

  <%= render 'posts/posts' %>
<% end %>
