
<div class="container">
  <% @posts.each do |post| %>
    <div class="row" style="background-color:lightcyan;">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <figure class="figure">
        <%= image_tag(post.image,:class => "figure-img img-fluid z-depth-1",:style => "max-width: 700px;")%>
        <figcaption class="figure-caption" style="max-width: 400px"><%= post.content %></figcaption>
        <figcaption class="figure-caption text-right"><strong>Created BY:</strong><%= current_user.email %></figcaption>
        <figcaption class="figure-caption">
          <div class="d-flex justify-content-around" style="display: flex;flex-direction: row;justify-content: space-around">
            <div>
              <%= link_to "Add Comment", new_post_comment_path(post), :type => "button", :class => "btn btn-primary btn-sm" %>
            </div>
            <div class="">
              <%= link_to "Comments", post_path(post), :type => "button", :class => "btn btn-primary btn-sm", :style => 'padding-left: 10px'%>
            </div>
            <div class="">
              <%= link_to "Like", post_likes_path(post, :action => 1), method: :post , :type => "button", :class => "btn btn-primary btn-sm", :style => 'padding-left: 10px'%>
              <%= "#{post.likes.count}" %>
            </div>

          </div>


        </figcaption>


      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row" style="background-color:lightcyan;">

    </div>
  <% end %>

</div>
