<p id="notice"><%= notice %></p>


<%= render 'posts' ,temp:"MyPost"%>




<!--
<p>
  <strong>Attachment:</strong>
  <%= @post.attachment %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>
-->









</div>
<!--
<div class="container">
  <div class="" style="display: flex; flex-direction: row;justify-content: space-around;padding-top:30px">
    <p><%= link_to "Add Comment", new_post_comment_path(@posts[0]) %></p>
    <%= link_to 'Edit', edit_post_path(@posts[0]) %> |
    <%= link_to 'Back', posts_path %>
  </div>
</div>
-->
