<!DOCTYPE html>
<html>
  <head>
    <title>SocialApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default">
      <%= link_to "Home",root_path,:type => "button", :class => "btn btn-primary btn-sm"%>
      <% if user_signed_in? %>
      <%= link_to "Create A Post",new_post_path,:type => "button", :class => "btn btn-primary btn-sm"%>
        signed in as <%= current_user.email %> Not you <%= link_to "sign_out",destroy_user_session_path,:type => "button", :class => "btn btn-primary btn-sm"%>
      <% else %>
        <%= link_to "sign In",new_user_session_path, :type => "button", :class => "btn btn-primary btn-sm"%> Or <%= link_to "sign_up",new_user_registration_path,:type => "button", :class => "btn btn-primary btn-sm","data-turbolinks" => "false"%>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
