<!DOCTYPE html>
<html>
  <head>
    <title>SocialApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="user_nav">
      <%= link_to "Home",root_path%>
      <% if user_signed_in? %>
        signed in as <%= current_user.email %> Not you <%= link_to "sign_out",destroy_user_session_path%>
      <% else %>
        <%= link_to "sign In",new_user_session_path%> Or <%= link_to "sign_up",new_user_registration_path%>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
